# editors / tooling
.vscode

# our own program output
kimmdy.log
test_out*/
*.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# tooling
node_modules
package-lock.json
doc-1/SITH_doc_1.pdf
doc-1/html/annotated.html
doc-1/html/bc_s.png
doc-1/html/bdwn.png
doc-1/html/classes.html
doc-1/html/classSITH_1_1SITH_1_1SITH-members.html
doc-1/html/classSITH_1_1SITH_1_1SITH.html
doc-1/html/classSITH_1_1SithWriter_1_1SithWriter-members.html
doc-1/html/classSITH_1_1SithWriter_1_1SithWriter.html
doc-1/html/classSITH_1_1Utilities_1_1Atom-members.html
doc-1/html/classSITH_1_1Utilities_1_1Atom.html
doc-1/html/classSITH_1_1Utilities_1_1Extractor-members.html
doc-1/html/classSITH_1_1Utilities_1_1Extractor.html
doc-1/html/classSITH_1_1Utilities_1_1Geometry-members.html
doc-1/html/classSITH_1_1Utilities_1_1Geometry.html
doc-1/html/classSITH_1_1Utilities_1_1LTMatrix__coll__graph.map
doc-1/html/classSITH_1_1Utilities_1_1LTMatrix__coll__graph.md5
doc-1/html/classSITH_1_1Utilities_1_1LTMatrix__coll__graph.png
doc-1/html/classSITH_1_1Utilities_1_1LTMatrix__inherit__graph.map
doc-1/html/classSITH_1_1Utilities_1_1LTMatrix__inherit__graph.md5
doc-1/html/classSITH_1_1Utilities_1_1LTMatrix__inherit__graph.png
doc-1/html/classSITH_1_1Utilities_1_1LTMatrix-members.html
doc-1/html/classSITH_1_1Utilities_1_1LTMatrix.html
doc-1/html/classSITH_1_1Utilities_1_1UnitConverter-members.html
doc-1/html/classSITH_1_1Utilities_1_1UnitConverter.html
doc-1/html/closed.png
doc-1/html/dir_1e92602e118b721068d852c1eb4ec650.html
doc-1/html/dir_4b716d09ba0b0375c8598dfc60f556ee.html
doc-1/html/dir_4ecbc7926d382dd0d1a9a854c62b4c2f.html
doc-1/html/dir_08fc5cfb9e21027703b55e9e4c843aaf.html
doc-1/html/dir_4112379f20c3b5be0f46487834b5fa95.html
doc-1/html/dir_b02a82832cef4266fc5cc06cd6084344.html
doc-1/html/dir_d63a2f725af9d467844227b3fcc469b9.html
doc-1/html/dir_e815e720b23aa1ad42357317c38d813b.html
doc-1/html/doc.png
doc-1/html/doxygen.css
doc-1/html/doxygen.png
doc-1/html/dynsections.js
doc-1/html/folderclosed.png
doc-1/html/folderopen.png
doc-1/html/functions_func.html
doc-1/html/functions.html
doc-1/html/graph_legend.html
doc-1/html/graph_legend.md5
doc-1/html/graph_legend.png
doc-1/html/hierarchy.html
doc-1/html/index.html
doc-1/html/inherit_graph_0.map
doc-1/html/inherit_graph_0.md5
doc-1/html/inherit_graph_0.png
doc-1/html/inherit_graph_1.map
doc-1/html/inherit_graph_1.md5
doc-1/html/inherit_graph_1.png
doc-1/html/inherit_graph_2.map
doc-1/html/inherit_graph_2.md5
doc-1/html/inherit_graph_2.png
doc-1/html/inherit_graph_3.map
doc-1/html/inherit_graph_3.md5
doc-1/html/inherit_graph_3.png
doc-1/html/inherit_graph_4.map
doc-1/html/inherit_graph_4.md5
doc-1/html/inherit_graph_4.png
doc-1/html/inherit_graph_5.map
doc-1/html/inherit_graph_5.md5
doc-1/html/inherit_graph_5.png
doc-1/html/inherit_graph_6.map
doc-1/html/inherit_graph_6.md5
doc-1/html/inherit_graph_6.png
doc-1/html/inherits.html
doc-1/html/jquery.js
doc-1/html/menu.js
doc-1/html/menudata.js
doc-1/html/namespaces.html
doc-1/html/namespaceSITH_1_1SITH.html
doc-1/html/nav_f.png
doc-1/html/nav_g.png
doc-1/html/nav_h.png
doc-1/html/open.png
doc-1/html/splitbar.png
doc-1/html/sync_off.png
doc-1/html/sync_on.png
doc-1/html/tab_a.png
doc-1/html/tab_b.png
doc-1/html/tab_h.png
doc-1/html/tab_s.png
doc-1/html/tabs.css
doc-1/html/search/all_0.html
doc-1/html/search/all_0.js
doc-1/html/search/all_1.html
doc-1/html/search/all_1.js
doc-1/html/search/all_2.html
doc-1/html/search/all_2.js
doc-1/html/search/all_3.html
doc-1/html/search/all_3.js
doc-1/html/search/all_4.html
doc-1/html/search/all_4.js
doc-1/html/search/all_5.html
doc-1/html/search/all_5.js
doc-1/html/search/all_6.html
doc-1/html/search/all_6.js
doc-1/html/search/all_7.html
doc-1/html/search/all_7.js
doc-1/html/search/all_8.html
doc-1/html/search/all_8.js
doc-1/html/search/all_9.html
doc-1/html/search/all_9.js
doc-1/html/search/all_a.html
doc-1/html/search/all_a.js
doc-1/html/search/all_b.html
doc-1/html/search/all_b.js
doc-1/html/search/all_c.html
doc-1/html/search/all_c.js
doc-1/html/search/all_d.html
doc-1/html/search/all_d.js
doc-1/html/search/classes_0.html
doc-1/html/search/classes_0.js
doc-1/html/search/classes_1.html
doc-1/html/search/classes_1.js
doc-1/html/search/classes_2.html
doc-1/html/search/classes_2.js
doc-1/html/search/classes_3.html
doc-1/html/search/classes_3.js
doc-1/html/search/classes_4.html
doc-1/html/search/classes_4.js
doc-1/html/search/classes_5.html
doc-1/html/search/classes_5.js
doc-1/html/search/close.png
doc-1/html/search/functions_0.html
doc-1/html/search/functions_0.js
doc-1/html/search/functions_1.html
doc-1/html/search/functions_1.js
doc-1/html/search/functions_2.html
doc-1/html/search/functions_2.js
doc-1/html/search/functions_3.html
doc-1/html/search/functions_3.js
doc-1/html/search/functions_4.html
doc-1/html/search/functions_4.js
doc-1/html/search/functions_5.html
doc-1/html/search/functions_5.js
doc-1/html/search/functions_6.html
doc-1/html/search/functions_6.js
doc-1/html/search/functions_7.html
doc-1/html/search/functions_7.js
doc-1/html/search/functions_8.html
doc-1/html/search/functions_8.js
doc-1/html/search/functions_9.html
doc-1/html/search/functions_9.js
doc-1/html/search/functions_a.html
doc-1/html/search/functions_a.js
doc-1/html/search/mag_sel.png
doc-1/html/search/namespaces_0.html
doc-1/html/search/namespaces_0.js
doc-1/html/search/nomatches.html
doc-1/html/search/search_l.png
doc-1/html/search/search_m.png
doc-1/html/search/search_r.png
doc-1/html/search/search.css
doc-1/html/search/search.js
doc-1/html/search/searchdata.js
doc-1/latex/annotated.tex
doc-1/latex/classSITH_1_1SITH_1_1SITH.tex
doc-1/latex/classSITH_1_1SithWriter_1_1SithWriter.tex
doc-1/latex/classSITH_1_1Utilities_1_1Atom.tex
doc-1/latex/classSITH_1_1Utilities_1_1Extractor.tex
doc-1/latex/classSITH_1_1Utilities_1_1Geometry.tex
doc-1/latex/classSITH_1_1Utilities_1_1LTMatrix__coll__graph.md5
doc-1/latex/classSITH_1_1Utilities_1_1LTMatrix__coll__graph.pdf
doc-1/latex/classSITH_1_1Utilities_1_1LTMatrix__inherit__graph.md5
doc-1/latex/classSITH_1_1Utilities_1_1LTMatrix__inherit__graph.pdf
doc-1/latex/classSITH_1_1Utilities_1_1LTMatrix.tex
doc-1/latex/classSITH_1_1Utilities_1_1UnitConverter.tex
doc-1/latex/doxygen.sty
doc-1/latex/hierarchy.tex
doc-1/latex/longtable_doxygen.sty
doc-1/latex/Makefile
doc-1/latex/namespaces.tex
doc-1/latex/namespaceSITH_1_1SITH.tex
doc-1/latex/refman.tex
doc-1/latex/tabu_doxygen.sty
