.bash-script-title {
    border-top: 3px solid #265a23;
    background-color: #c9d7c7;
    padding-left: 10px;
    margin: 0;
    line-height: 1;
    padding-top: 1px;
}

.bash-script-doc {
    padding-left: 20px;
    margin: 0;
    line-height: 1;
}

.bash-script-title + .bash-script-doc {
    margin-top: -20px;
}

.bashscript {
    display: inline-block;
    padding: 0px 5px;
    border: 1px solid #c2c2c2;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    font-family: monospace; /* optional: makes it look like code */
    font-weight: bold;       /* makes text bold */
    font-size: 0.75em
}

.bashscript .headerlink {
    display: none !important;
}

.wy-nav-content {
    max-width: none;
}