name: Build and Deploy Docs

on:
  push:
    branches: [ "ds_big_changes" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install sphinx>=6.0 numpy matplotlib nglview ase ipywidgets vpython
          
          git clone https://github.com/Sucerquia/PlottingTool.git
          cd PlottingTool
          pip install -e .
          cd ../

          git clone https://github.com/Sucerquia/vmol.git
          cd vmol
          pip install -e .
          cd ../
          

      - name: Build Sphinx docs
        run: |
          pip install sphinxcontrib-mermaid sphinx-rtd-theme
          cd doc
          make html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: doc/html

